<!-- Source form template -->

<div class="source_form">
  <%= form_for @source do |f| %>
    <div class="label_title">
      <%= f.label :title, "Title"%>
    </div>
    <p>
      <%= f.text_field :title, :autocomplete => 'off', :placeholder => 'Title', :autofocus => true %>
    </p>
    <div class="label_text">
      <%= f.label :original, "Text" %>
    </div>
    <p>
      <%= f.text_area :original, :placeholder => "Content to cloud", :size => "80x20" %>
    </p>
    <div class="label_exceptions">
      <%= f.label :exceptions, "Exceptions" %>
    </div>
    <p> 
      <%= f.text_area :exceptions, :placeholder => "Words to exclude", :size => "80x10", :value => @source.exceptions.join(', ') %> 
      <!-- join(', ') changes the array into string for user input -->
    </p>
    <div class="label_count">
      <%= f.label :count, "Minimum word frequency" %>
    </div>
    <p> 
      <%= f.number_field :count , :min => 1, :max => 99 %> 
    </p>
    <!-- :value =>1 -->
  <div id="source_form_button">
    <%= f.submit 'cloud it' %>
  </div>
  <% end %>
</div>