<h2>Source <%= @source.id %></h2>
<div class="sources_show">
  <div id="sources_show_notes">
    <p>source title: <%= @source.title if @source %></p>
    <p>source content: <%= @source.original if @source %></p>
  </div>
</div>

<div id="sources_show_menu"> 
    <ul>
      <li><%= link_to('remove', @source, :data => {:confirm => 'are you sure?', :method => :delete }) %> • </li>
    </ul>
  </div><!-- sources_show_menu -->


<h1>Clouded</h1>
<% if @tag_cloud_hash != nil %>
  <% @tag_cloud_hash.each_pair do |tag,size| %>
    <div class="cloud_element">
      <%= content_tag(:a, tag.name.downcase, { :href => "#{tags_path}?tag=#{tag.slug}", :title => "#{tag.count} artworks", :style => "font-size:#{size}px;" }) %>
    </div>
  <% end %>
<% end %>
