<!DOCTYPE html>
<html>
<head>
  <title>Sinana Sokoro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  
  <div class='arch'>
    <p>Like cloudy skies and wind that produce no rain,</p>
    <p>so is the one who boasts of a gift not given.</p>
  </div>

    <span class="navigationSpace"/>
    <span class="navigationSpace"/>

    <span class="navigationSpace"/>
    <span class="navigationSpace"/>
    <%= render :partial => "/shared/nav"  %>

  <%= yield %>
</div>
</body>
</html>
