<!DOCTYPE html>
<html>
<head>
  <title>Cloudit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'clouditicon.png' %>
</head>
<body class="background_image">
  <div class="container">
    <%= render :partial => "/shared/nav"  %>
    <div class='arch'>
      <p>Like cloudy skies and wind that produce no rain,</p>
      <p>so is the one who boasts of a gift not given.</p>
    </div>
    <div class="navigationSpace"/></div>

    <%= yield %>

  </div>
</body>
</html>
